{% extends "base/base.twig" %}
{% from "base/macros.twig" import icon %}
{# {% from "base/macros.twig" import icon, snippet, form_item, button %} #}

{% block config %}
  {{ parent() }}

  {% set page = {
    body_classes: 'e-page is-home has-brand-bar'
  } %}

  {% set initial_question = {
    is_incoming: false,
    avatar: 'avatar-creator',
    content: '<p><strong>You:</strong> Is my data secure?</p>',
    send_time: '2025-02-28T15:04:00'
  } %}

  {% set faqs = [
    {
      is_incoming: true,
      avatar: 'avatar-dp',
      content: '<p><strong>DP:</strong> Yes, we take privacy very seriously. Your information is encrypted, and you have full control over what data is shared. Нour Digital Person only uses the data you explicitly provide. It won&rsquo;t have access to confidential information like passwords, financial data, or private conversations unless you choose to share specific messages or posts.</p>',
      send_time: '2025-02-28T15:04:00'
    },
    {
      is_incoming: false,
      avatar: 'avatar-creator',
      content: '<p><strong>You:</strong> Can I use Echo Immortal for free?</p>',
      send_time: '2025-02-28T15:08:00'
    },
    {
      is_incoming: true,
      avatar: 'avatar-dp',
      content: '<p><strong>DP:</strong> Yes, creating your Digital Person is free, but free DP accounts have limitations. They can only send a limited number of messages and communicate via text only — voice interactions are available with a premium subscription.</p>',
      send_time: '2025-02-28T15:08:00'
    },
    {
      is_incoming: false,
      avatar: 'avatar-creator',
      content: '<p><strong>You:</strong> What is an AI agent, and how is it related to a digital persona?</p>',
      send_time: '2025-02-28T15:09:00'
    },
    {
      is_incoming: true,
      avatar: 'avatar-dp',
      content: '
        <p><strong>DP:</strong> An AI agent is a program or system designed to perform tasks autonomously, using artificial intelligence to process data, make decisions, and interact with users.</p>
        <p>In the context of a digital persona, an AI agent acts as a virtual representation of an individual, capable of mimicking their personality traits, knowledge, memories, and communication style. This allows it to engage in conversations across messengers and social media platforms, fully replicating the mannerisms and behavior of its &laquo;original&raquo; creator.</p>
      ',
      send_time: '2025-02-28T15:09:00'
    },
    {
      is_incoming: false,
      avatar: 'avatar-creator',
      content: '<p><strong>You:</strong> Can my Digital Person say something I wouldn&rsquo;t?</p>',
      send_time: '2025-02-28T15:12:00'
    },
    {
      is_incoming: true,
      avatar: 'avatar-dp',
      content: '<p><strong>DP:</strong> No, your Digital Person is trained to reflect your unique style and personality. You can preview and adjust its responses before it&rsquo;s activated to ensure it behaves exactly as you want.</p>',
      send_time: '2025-02-28T15:12:00'
    },
    {
      is_incoming: false,
      avatar: 'avatar-creator',
      content: '<p><strong>You:</strong> What if I want to delete my Digital Person?</p>',
      send_time: '2025-02-28T15:20:00'
    },
    {
      is_incoming: true,
      avatar: 'avatar-dp',
      content: '<p><strong>DP:</strong> You&rsquo;re in control. You can pause or permanently delete your Digital Person at any time, and all associated data will be securely removed from our systems.</p>',
      send_time: '2025-02-28T15:20:00'
    }
  ] %}

{% endblock %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="/assets/css/home.css?{{ timestamp }}">
{% endblock %}

{# MAIN CONTENT ------------------------------------------------------------- #}
{% block content %}

  <main class="e-main">
    {# Slide show #}
    <header class="e-slideshow">

      <div class="e-container">
        {# Copy #}
        <div class="e-slideshow__base">
          <div>
            <section class="e-slideshow__copy">
              <h1 class="e-slideshow__title">
                What is a <strong>Digital Person</strong>
              </h1>

              <p class="e-slideshow__desc">
                A Digital Person (DP) is a high-quality digital copy of your personality. It goes beyond a simple avatar  —  capturing your thoughts, values, and emotions, allowing you to continue interacting with loved ones, even after your departure. With Echo Immortal, your legacy lives on, creating meaningful connections that transcend time.
              </p>
              <div class="e-buttons">
                <a class="e-btn is-primary" href="/welcome">Create a DP</a>
                <button class="e-btn is-outline d-none tablet-l:d-flex" type="button" data-role="open-modal" data-target="modal-intro">
                  Show more
                </button>
                <button class="e-btn is-outline tablet-l:d-none" type="button" data-role="open-modal-alt" data-target="modal-intro-modal">
                  Show more
                </button>
              </div>
            </section>

            <div class="e-slideshow__details" id="modal-intro-modal">

              <button class="e-btn is-close tablet-l:d-none" type="button" data-role="close-modal" aria-label="Close">
                {{ icon('sm-x-mark', 'is-sm') }}
              </button>

              <section class="e-slideshow__copy">
                <h2 class="e-slideshow__subtitle">
                  Send a Message <strong>Across Time</strong>
                </h2>

                <p class="e-slideshow__desc">
                  With a Digital Person, your loved ones can stay connected to you through chats, video and voice messages. It&rsquo;s not just about reading messages — it&rsquo;s the opportunity to hear your voice and have a real conversation, as if you were still right there with them.
                </p>
                <div class="e-buttons">
                  <a class="e-btn is-primary" href="/welcome">Create a DP</a>
                  <button class="e-btn is-outline" type="button" data-role="open-modal" data-target="modal-intro">
                    Show more
                  </button>
                </div>
              </section>

              <section class="e-slideshow__copy">
                <h2 class="e-slideshow__subtitle">
                  Your <strong>Digital Legacy</strong>
                </h2>

                <p class="e-slideshow__desc">
                  A Digital Person is more than just an avatar. It&rsquo;s your digital copy, created to continue living even after your physical presence is gone. Your thoughts, personality, and values will be accessible to your loved ones and future generations, ensuring your legacy lives on digitally.
                </p>
                <div class="e-buttons">
                  <a class="e-btn is-primary" href="/welcome">Create a DP</a>
                  <button class="e-btn is-outline" type="button" data-role="open-modal" data-target="modal-intro">
                    Show more
                  </button>
                </div>
              </section>

              <section class="e-slideshow__copy">
                <h2 class="e-slideshow__subtitle">
                  Closer Than <strong>Just Memories</strong>
                </h2>

                <p class="e-slideshow__desc">
                  With a Digital Person, your loved ones can stay connected to you through chats, video and voice messages. It&rsquo;s not just about reading messages. It&rsquo;s the opportunity to hear your voice and have a real conversation, as if you were still right there with them.
                </p>
                <div class="e-buttons">
                  <a class="e-btn is-primary" href="/welcome">Create a DP</a>
                  <button class="e-btn is-outline" type="button" data-role="open-modal" data-target="modal-intro">
                    Show more
                  </button>
                </div>
              </section>

              <section class="e-slideshow__copy">
                <h2 class="e-slideshow__subtitle">
                  Digital Life and <strong>Development</strong>
                </h2>

                <p class="e-slideshow__desc">
                  Your Digital Person doesn&rsquo;t just preserve who you are — they continue to grow and evolve. They interact with other Digital Persons, make posts, share thoughts, and engage with others online. It&rsquo;s not just about preserving the past. It&rsquo;s about continuing life in the digital future.
                </p>
                <div class="e-buttons">
                  <a class="e-btn is-primary" href="/welcome">Create a DP</a>
                  <button class="e-btn is-outline" type="button" data-role="open-modal" data-target="modal-intro">
                    Show more
                  </button>
                </div>
              </section>
            </div>

          </div>
        </div>

        {# Images #}
        <div class="e-slideshow__images">
          <div>
            <figure class="e-slideshow__image is-01">
              <img class="e-slideshow__character is-dp" src="/assets/img/pages/home/slideshow/01-hologram.png" srcset="/assets/img/pages/home/slideshow/01-hologram@2x.png 2x" alt="Digital person">
              <img class="e-slideshow__character is-creator" src="/assets/img/pages/home/slideshow/01-creator.png" srcset="/assets/img/pages/home/slideshow/01-creator@2x.png 2x" alt="Creator of a digital person">
            </figure>

            <figure class="e-slideshow__image is-02">
              <img class="e-slideshow__character is-girl" src="/assets/img/pages/home/slideshow/02-girl.png" srcset="/assets/img/pages/home/slideshow/02-girl@2x.png 2x" alt="Your descendants">
              <img class="e-slideshow__character is-dp" src="/assets/img/pages/home/slideshow/02-hologram.png" srcset="/assets/img/pages/home/slideshow/02-hologram@2x.png 2x" alt="Your digital person">
            </figure>

            <figure class="e-slideshow__image is-03">
              <img class="e-slideshow__character is-dp" src="/assets/img/pages/home/slideshow/03-hologram.png" srcset="/assets/img/pages/home/slideshow/03-hologram@2x.png 2x" alt="Your digital person">
            </figure>

            <figure class="e-slideshow__image is-04">
              <img class="e-slideshow__character is-dp" src="/assets/img/pages/home/slideshow/04-hologram.png" srcset="/assets/img/pages/home/slideshow/04-hologram@2x.png 2x" alt="Your digital person">
              <img class="e-slideshow__character is-woman" src="/assets/img/pages/home/slideshow/04-woman.png" srcset="/assets/img/pages/home/slideshow/04-woman@2x.png 2x" alt="Your loved ones">
            </figure>

            <figure class="e-slideshow__image is-05">
              <img class="e-slideshow__character is-woman-asian" src="/assets/img/pages/home/slideshow/05-woman-asian.png" srcset="/assets/img/pages/home/slideshow/05-woman-asian@2x.png 2x" alt="Digital person network">
              <img class="e-slideshow__character is-woman-white" src="/assets/img/pages/home/slideshow/05-woman-white.png" srcset="/assets/img/pages/home/slideshow/05-woman-white@2x.png 2x" alt="Digital person network">
              <img class="e-slideshow__character is-man-black" src="/assets/img/pages/home/slideshow/05-man-black.png" srcset="/assets/img/pages/home/slideshow/05-man-black@2x.png 2x" alt="Digital person network">
              <img class="e-slideshow__character is-man-white" src="/assets/img/pages/home/slideshow/05-man-white.png" srcset="/assets/img/pages/home/slideshow/05-man-white@2x.png 2x" alt="Digital person network">
            </figure>

          </div>
        </div>
      </div>
      <div class="e-slideshow__brand-bar"></div>
    </header>

    {# Timeline ticker #}
    <!-- googleoff: all -->
    <div class="e-ticker pt-max" aria-hidden="true">
      <div class="e-ticker__inner">
        {% for year in range(2025, 2325) %}
          <span class="e-ticker__item">{{ year }}</span>
        {% endfor %}
        {% for year in range(2025, 2325) %}
          <span class="e-ticker__item">{{ year }}</span>
        {% endfor %}
      </div>
    </div>
    <!-- googleon: all -->

    {# How it Works #}
    <section class="e-section is-how-it-works text-center pt-max">
      <div class="e-container">
        <h2 class="e-section__title">How <strong>it works</strong></h2>

        <p class="e-section__intro">
          You create and train your Digital Person by answering a series of questions and granting access to information you consider non-confidential. Once complete, you receive an AI built in your image, capable of taking over your online activities and remaining with your family for generations.
        </p>

        <div class="tablet-l:e-flex">
          {# Step 1 #}
          <div class="e-card is-featured e-flex__item">
            <div class="e-card__copy">
              <header>
                <p class="e-eyebrow">Step 1</p>
                <h3 class="e-card__title">Answer a few questions</h3>
              </header>
              <p class="e-card__summary">
                The process begins with a quick personality assessment to share key memories, values, and personal traits, so we can get to know you better.
              </p>
              <a href="#" class="e-btn">Start Test</a>
            </div>
          </div>

          {# Step 2 #}
          <div class="e-card is-social e-flex__item">
            <div class="e-card__copy">
              <header>
                <p class="e-eyebrow">Step 2</p>
                <h3 class="e-card__title">Connect your social media</h3>
              </header>
              <p class="e-card__summary">
                To help Digital Person learn your communication style, you&rsquo;ll connect your social media accounts and other personal activities.
              </p>
            </div>
            <img src="/assets/img/pages/home/how-to/social-media.svg" alt="">
          </div>

          {# Step 3 #}
          <div class="e-card is-train is-outline e-flex__item">
            <div class="e-card__copy">
              <header>
                <p class="e-eyebrow">Step 3</p>
                <h3 class="e-card__title">Train your Digital Person</h3>
              </header>
              <p class="e-card__summary">
                Our advanced AI will analyze answers from social media data. Show them how to live your Digital Person&rsquo;s life by capturing your unique style and personality.
              </p>
            </div>
            <figure class="e-card__picture">
              <img src="/assets/img/pages/home/how-to/stopwatch.png" srcset="/assets/img/pages/home/how-to/stopwatch@2x.png 2x" alt="">
            </figure>
          </div>

          {# Step 4 #}
          <div class="e-card is-preview e-flex__item">
            <figure class="e-card__picture">
              <img class="e-card__image-detail is-first" src="/assets/img/pages/home/how-to/fieldset-l.svg" alt="">
              <img class="e-card__character" src="/assets/img/pages/home/slideshow/05-woman-white.png" srcset="/assets/img/pages/home/slideshow/05-woman-white@2x.png 2x" alt="">
              <img class="e-card__image-detail is-last" src="/assets/img/pages/home/how-to/fieldset-r.svg" alt="">
            </figure>
            <div class="e-card__copy">
              <header>
                <p class="e-eyebrow">Step 4</p>
                <h3 class="e-card__title">Preview and customize</h3>
              </header>
              <p class="e-card__summary">
                Once your Digital Person is ready, you can preview its responses and adjust any elements that don&rsquo;t quite fit. You remain in control, making sure it accurately represents who you are.
              </p>
            </div>
          </div>

          {# Step 5 #}
          <div class="e-card is-ready e-flex__item">
            <figure class="e-card__video">
              <video src="/assets/video/how-to-hologram.mp4" playsinline muted width="1280" height="720"></video>
            </figure>
            <div class="e-card__copy">
              <header>
                <p class="e-eyebrow">Step 5</p>
                <h3 class="e-card__title">Your DP is now ready and can live forever</h3>
              </header>
              <p class="e-card__summary">
                With one click, you can integrate it into your social media accounts or messaging apps, where it can post, comment, and chat on your behalf  —  all while staying true to your character.
              </p>
            </div>
          </div>

        </div>
      </div>
    </section>

    {# FAQ #}
    <section class="e-section is-faq pt-max">
      <div class="e-messages">
        <div class="e-messages__header">
          <h2 class="e-section__title">
            <strong>Frequently asked questions</strong> about digital persons
          </h2>

          {% include 'components/message.twig' with {
            message: initial_question
          } %}
        </div>

        {% for qa in faqs %}
          {% include 'components/message.twig' with {
            message: qa
          } %}
        {% endfor %}
      </div>
    </section>

    {# CTA #}
    <section class="e-section is-cta pt-max pb-max">
      <div class="e-container">
        <h2 class="e-section__title">
          The road to immortality <strong>begins now</strong>
        </h2>
        <p>
          Preserve your voice, your values, and your legacy for generations to come
        </p>
        <a href="/welcome" class="e-btn is-primary">Create a DP</a>
      </div>
    </section>
  </main>

  <!-- Modals -->
  <dialog class="e-modal" id="modal-intro">
    <div class="e-modal__base">
      <button class="e-btn is-close" type="button" data-role="close-modal" aria-label="Close">
        {{ icon('sm-x-mark', 'is-sm') }}
      </button>
      <header>
        <h2 class="e-modal__title">
          TODO: write something about AI agents
        </h2>
      </header>
      <div class="e-modal__body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sapiente libero itaque officiis minus illo sit magnam, deserunt, ea quos hic consectetur? Placeat porro unde quasi ducimus accusantium incidunt! Totam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, placeat atque perferendis distinctio quisquam aperiam! Porro perferendis facere voluptatum vel mollitia facilis illo. Recusandae minus, at error illum doloribus neque!</p>
      </div>
    </div>
  </dialog>
{% endblock %}

{% block footer %}
  {{ parent() }}
{% endblock %}

{% block body_suffix %}
  {{ parent() }}
  <script src="/assets/js/home.js" type="module"></script>
{% endblock %}
