{% extends "base/base.twig" %}
{% from "base/macros.twig" import icon %}

{% block config %}
  {{ parent() }}

  {% set page = {
    is_onboarding: true,
    title: 'Create Your Digital Person — Echo Immortal',
    desc: 'Start creating your Digital Person by sharing your memories, values, and personality traits. Our simple onboarding process helps craft an AI avatar that reflects who you truly are.',
    body_classes: 'page has-stepper',
    prev: '#'
  } %}

  {% set questions = [
    '<p><strong>Hello! Let’s get straight to the point:</strong> let’s create your digital persona. Please start by providing your email address.</p>',
    '<p>Great! Now, please introduce yourself.</p>'
  ] %}

  {% set progress = {
    percent: 3,
    steps: [
      {title: 'Email', completed: 1, total: 1, complete: true, link: 'email'},
      {title: 'Personal Information', completed: 0, total: 6, active: true, link: 'personal'},
      {title: 'Biography', completed: 0, total: 6, link: 'biography'},
      {title: 'Interests', completed: 0, total: 6, link: 'interests'},
      {title: 'Habits', completed: 0, total: 6, link: 'habits'},
      {title: 'Psychological Profile', completed: 0, total: 39, link: 'psychological'},
      {title: 'Memories', completed: 0, total: 6, link: 'memories'},
      {title: 'Values and Principles', completed: 0, total: 6, link: 'values'},
      {title: 'Personalization', completed: 0, total: 6, link: 'personalization'},
      {title: 'Privacy', completed: 0, total: 6, link: 'privacy'},
      {title: 'Social Media', completed: 0, total: 6, link: 'social'}
    ]
  } %}

{% endblock %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="/assets/css/onboarding.css?{{ timestamp }}">
{% endblock %}

{# MAIN CONTENT ------------------------------------------------------------- #}
{% block content %}

  <main class="e-main is-flex-column">
    {# Progress component #}

    <div class="e-messages is-centering">
      {% include 'components/message.twig' with {
        content: questions[1],
        avatar: 'avatar-dp',
        is_incoming: true,
        classes: 'has-large-avatar max-w-none',
        send_time: 'now'|date('H:i')
      } %}
    </div>

    <form class="e-form is-chat-input" action="/welcome" method="get" novalidate>
      <div class="e-form__control">
        <a class="e-link is-prev" href="{{ page.prev }}">
          {{ icon('sm-chevron-left', 'is-sm') }}
          <span class="label">Prev</span>
        </a>
        <label for="form-chat-input" class="visually-hidden">Message Echo Immortal</label>
        <textarea id="form-chat-input" autofocus spellcheck="false" placeholder="Your answer"></textarea>
        <button class="e-btn is-icon" type="submit" disabled aria-label="Send answer">
          {{ icon('arrow-up') }}
        </button>
      </div>
      <footer class="e-form__footer is-security">
        {{ icon('sm-lock', 'is-sm') }}
        <span>Secure SSL Encryption</span>
      </footer>
    </form>
  </main>
{% endblock %}

{% block footer %}{% endblock %}

{% block body_suffix %}
  {{ parent() }}
  {% include "components/stepper.twig" %}
  {# <script>
  </script> #}
{% endblock %}
