{% from "base/macros.twig" import icon %}

<footer class="e-footer">
  <h2 class="visually-hidden">Didn’t find what you were looking for? Maybe it’s here?</h2>
  <div class="e-container">
    <div class="e-grid">
      <div class="e-footer__col has-logo">
        <img src="/assets/img/components/logo.svg" width="268" height="96" alt="Echo Immortal">
        <p class="e-footer__copyright">
          &copy; {{ "now"|date("Y") }}
          Echo Immortal LLC. All rights reserved.
        </p>
      </div>
      <nav class="e-footer__col is-first-nav">
        <h3>About Us</h3>
        <ul>
          <li><a href="{{ site.global_nav.en.contact.slug }}">{{ site.global_nav.en.contact.title }}</a></li>
          <li><a href="{{ site.global_nav.en.blog.slug }}">{{ site.global_nav.en.blog.title }}</a></li>
          <li><a href="{{ site.global_nav.en.careers.slug }}">{{ site.global_nav.en.careers.title }}</a></li>
        </ul>
      </nav>
      <nav class="e-footer__col is-2nd-nav">
        <h3>Legal</h3>
        <ul>
          <li><a href="{{ site.global_nav.en.privacy.slug }}">{{ site.global_nav.en.privacy.title_long }}</a></li>
          <li><a href="{{ site.global_nav.en.terms.slug }}">{{ site.global_nav.en.terms.title_long }}</a></li>
          <li><a href="{{ site.global_nav.en.agreement.slug }}">{{ site.global_nav.en.agreement.title }}</a></li>
        </ul>
      </nav>
      <div class="e-footer__col is-social">
        <a href="https://x.com/{{ site.social.x }}" class="e-btn is-ghost is-icon is-twitter" aria-label="Follow Us on X.com">
          {{ icon('brand-x') }}
        </a>
        <a href="https://www.instagram.com/{{ site.social.instagram }}" class="e-btn is-ghost is-icon is-instagram" aria-label="Follow Us on Instagram">
          {{ icon('brand-instagram') }}
        </a>
      </div>
    </div>

  </div>
</footer>
