{% from "base/macros.twig" import icon %}

<header class="e-header">
  <div class="e-container">
    <a href="/" class="e-logo">
      <img src="/assets/img/components/logo.svg" alt="Echo Immortal">
    </a>

    {% if page.is_onboarding_start %}
      <p class="e-header__login-cta">
        Already have an account?
        <button class="e-btn is-link" type="button" data-role="open-modal" data-target="signin">
          Sign In
        </button>
      </p>
    {% elseif page.is_onboarding %}
      <button class="e-btn has-progress" type="button" data-role="open-drawer" data-target="drawer-onboarding-progress">
        <span class="h3">
          <span class="e-btn__label">Progress</span>
          <span class="e-btn__value">{{ progress.percent }}%</span>
          </span>
        <small>
          View details
        </small>
        <div class="e-progress is-circular" style="--progress: {{ progress.percent }}">
          <svg class="e-progress__circle">
            <circle class="e-progress__circle-bg" cx="50%" cy="50%" r="45%"></circle>
            <circle class="e-progress__circle-indicator" cx="50%" cy="50%" r="45%"></circle>
          </svg>
        </div>

      </button>
    {% else %}
      <nav>
        <ul class="e-header__menu">
          <li class="tablet:d-none">
            <a class="e-header__menu-item is-home" href="/">
              {{ icon('home') }} Home
            </a>
          </li>
          <li>
            <a class="e-header__menu-item e-btn is-ghost" href="/pricing">
              {{ icon('price', 'tablet:d-none') }}
              <span class="tablet:d-none">Price</span>
              <span class="d-none tablet:d-inline">Pricing</span>
            </a>
          </li>
          <li class="tablet:d-none">
            <a class="e-header__menu-item is-welcome" href="/welcome">
              {{ icon('add') }} Create
            </a>
          </li>
          <li>
            <button class="e-header__menu-item e-btn is-outline" data-role="open-modal" data-target="signin">
              {{ icon('pixels', 'tablet:d-none') }} Sign In
            </button>
          </li>
        </ul>
      </nav>
    {% endif %}
  </div>
</header>
