{% from "base/macros.twig" import icon %}

<aside class="e-stepper" id="drawer-onboarding-progress" data-role="drawer">

  <header class="e-stepper__header">
    <button class="e-btn is-close" type="button" data-role="close-drawer" aria-label="Close">
      {{ icon('sm-x-mark', 'is-sm') }}
    </button>
    <h2 class="h3" id="title-stepper">
      Progress
      <span>{{ progress.percent }}%</span>
    </h2>
    <progress id="progress-onboarding" max="100" value="{{ progress.percent }}" aria-labelledby="title-stepper">{{ progress.percent }}%</progress>
    <small>
      <span>Minimum</span>
      <span>Good enough</span>
      <span>100 Qs</span>
    </small>
  </header>

  <ol class="e-stepper__list">
    {% for step in progress.steps %}
      <li class="e-stepper__item{% if step.active %} is-active{% endif %}{% if step.complete %} is-complete{% endif %}">
        <a href="/welcome/{{ step.link }}">{{ step.title }}</a>
        <small>{{ step.completed }}/{{ step.total }}</small>
      </li>
    {% endfor %}
  </ol>
  <button class="e-btn is-save" type="button" disabled>
    Save
  </button>
</aside>
